---
import { Image } from "astro:assets"
import DiscordSVG from '@assets/svgs/Discord.svg';
import GithubSVG from "@assets/svgs/Github.svg";

let logosizes = 26
---


<footer class="w-full pt-[40px] top-full text-white ">
        <p>&copy; TeaClientMC. ALL RIGHTS RESERVED</p>
        <div id="Socials">
          <Image src={DiscordSVG} alt="Discord Logo" width={logosizes} height={logosizes}/>
          <Image src={GithubSVG} alt="Discord Logo" width={logosizes} height={logosizes}/>
    </div>
</footer>





<style type="text/sass">
footer {
    p {
      @apply ml-[20px] float-left text-white font-bold font-sans text-sm;
      word-spacing: 2px;
    }


    #Socials {
      @apply flex flex-row mr-[20px] float-right;
      filter: ;
    }
}
</style>