---
import Layout from "@layout/layout.astro";

const socials = [
  {
    name: "Discord",
    link: "https://discord.gg/8r5a2n8",
    color: "border-indigo-500 hover:text-indigo-500",
    offical: true,
  },
  {
    name: "GitHub",
    link: "https://github.com/TeaClientMC",
    color: "border-white hover:text-white",
    offical: true,
  },
  {
    name: "Reddit",
    link: "https://www.reddit.com/r/TeaClientMC/",
    color: "border-orange-500 hover:text-orange-500",
    offical: true,
  },
  //   {
  //     name: "Matrix",
  //     link: "https://matrix.to/#/#teaclientmc:matrix.org",
  //     color: "border-slate-500 hover:text-slate-500",
  //     offical: true,
  //   },
  {
    name: "X",
    link: "https://twitter.com/TeaClientMC",
    color: "border-white hover:text-white",
    offical: true,
  },
  {
    name: "Codeberg",
    link: "https://codeberg.org/TeaClientMC",
    color: "border-[#4793CC] hover:text-[#4793CC]",
    offical: false,
  },
];

const sortedSocials = socials.sort((a, b) => {
  if (a.offical === b.offical) {
    return a.name.localeCompare(b.name);
  } else {
    return a.offical ? -1 : 1;
  }
});
---

<Layout
  className="h-full pb-16 backdrop-blur-sm bg-opacity-15"
  title="Home | TeaClient Website"
  extraFooterClass="mt-[53%]"
>
  <div>
    <div
      class="flex m-10 justify-center bg-gradient-to-r from-violet-400 to-violet-500 bg-clip-text text-transparent text-3xl"
    >
      Official Communities
    </div>
    <ul class="flex flex-col gap-5 justify-center items-center">
      {
        sortedSocials
          .filter((social) => social.offical)
          .map((item) => (
            <li>
              <a class={`border ${item.color} rounded-md p-2`} href={item.link}>
                {item.name}
              </a>
            </li>
          ))
      }
    </ul>

    <div
      class="flex m-10 text-3xl justify-center bg-gradient-to-r from-red-400 to-red-500 bg-clip-text text-transparent"
    >
      Unofficial Communities
    </div>
    <ul class="flex flex-col gap-5 justify-center items-center">
      {
        sortedSocials
          .filter((social) => !social.offical)
          .map((item) => (
            <li>
              <a class={`border ${item.color} rounded-md p-2`} href={item.link}>
                {item.name}
              </a>
            </li>
          ))
      }
    </ul>
  </div>
</Layout>
