---
import Layout from "@/layouts/layout.astro";
import { getCollection } from "astro:content";
const newsitems = await getCollection("news");
---
<Layout agreement={false}>
  <div class="flex flex-col items-center px-6 py-32 md:px-20 lg:px-32 text-xl">
    <h1 class="text-purple-200 text-3xl text-center">
      TeaClient News Articles
    </h1>
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full max-w-7xl mt-10">
      {
        newsitems.slice(0, 3).map((news) => (
          <li class="relative">
            <a class="block" href={`/news/${news.id}`}>
              {
                news.data.banner ? (
                  <div class="relative w-full aspect-[4/3]">
                    <img
                      src={news.data.banner.src}
                      alt={`${news.data.title} Banner`}
                      loading="lazy"
                      class="object-cover w-full border border-purple-700/30 h-[50%] rounded-xl opacity-80"
                    />

                    <div class="absolute top-4 left-4 bg-black/50 px-3 py-1 rounded text-white text-sm">
                      {news.data.title}
                    </div>
                  </div>
                ) : null
              }
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
