---
import { getCollection } from "astro:content";
import Layout from "../../layouts/layout.astro";
import { twMerge } from "tailwind-merge";

const wikiContent = await getCollection("wiki");

const groupBySubcategory = (docs) => {
  const groupedDocs = {};
  docs.forEach((doc) => {
    const subcategory = doc.slug.split("/")[1]; // Assuming the second part of the slug is the subcategory
    if (!groupedDocs[subcategory]) {
      groupedDocs[subcategory] = [];
    }
    groupedDocs[subcategory].push(doc);
  });
  return groupedDocs;
};

const playerDocs = wikiContent.filter((page) =>
  page.slug.startsWith("players/"),
);
const developerDocs = wikiContent.filter((page) =>
  page.slug.startsWith("developers/"),
);

const playerDocsGrouped = groupBySubcategory(
  wikiContent.filter((page) => page.slug.startsWith("players/")),
);

const developerDocsGrouped = groupBySubcategory(
  wikiContent.filter((page) => page.slug.startsWith("developers/")),
);

function formatSubcategory(subcategory) {
  const specialWords = {
    "getting-started": ["Getting Started"],
  };

  return subcategory
    .split(" ")
    .map((word) => {
      console.log("Word: ", word);
      // Capitalize the first letter if the word is not already capitalized
      if (!word.match(/^[A-Z]/)) {
        word = word.charAt(0).toUpperCase() + word.slice(1);
      }
      // Replace certain words to make it more readable
      if (specialWords[word.toLowerCase()]) {
        word = specialWords[word.toLowerCase()][0];
      }

      return word;
    })
    .join(" ");
}

let wikiTitleClass = "font-bold bg-gradient-to-r bg-clip-text text-transparent";
let wikiDescClass = "text-sm text-gray-400 pb-2";
let wikiLiClass = "relative bg-[#171717a3] w-1/2 p-2 rounded-lg border";
let wikiSubClass =
  "text-sm font-extralight bg-gradient-to-r pt-3 h-8 bg-clip-text text-transparent";
let wikiUlClass = "flex flex-col gap-3 justify-center items-center";
---

<Layout
  title="Home | TeaClient Wiki"
  className="h-full pb-16 backdrop-blur-sm"
  extraFooterClass="mt-[90%]"
>
  <div class="justify-center text-center">
    <h1 class="font-bold text-3xl mt-10">Welcome to the TeaClient Wiki</h1>
    <p>
      This is the official documentation for TeaClient for both Players &
      Developers
    </p>
  </div>
  <div class="flex flex-row w-full h-full mt-5">
    <!-- Player Documentation Section -->
    <section
      id="player-docs"
      class="float-left w-1/2 mx-5 justify-center text-center"
    >
      <h1 class={`${wikiTitleClass} from-green-400 to-green-600`}>
        Player Documentation
      </h1>
      <ul class="flex flex-col gap-5">
        {
          Object.entries(playerDocsGrouped).map(([subcategory, docs]) => (
            <>
              <h2 class={`${wikiSubClass} from-green-400 to-green-600`}>
                {formatSubcategory(subcategory)}
              </h2>
              <ul class={wikiUlClass}>
                {docs.map((doc) => (
                  <li class={`${wikiLiClass} border-green-800`}>
                    <a class="hover:text-green-300" href={`/wiki/${doc.slug}/`}>
                      <h4 class="title text-base md:text-xs xl:text-xl">
                        {doc.data.title}
                      </h4>
                      <p class={wikiDescClass}>{doc.data.desc}</p>
                    </a>
                  </li>
                ))}
              </ul>
            </>
          ))
        }
      </ul>
    </section>

    <!-- Developer Documentation Section -->
    <section
      id="developer-docs"
      class="float-right w-1/2 justify-center text-center mx-5"
    >
      <h1 class={`${wikiTitleClass} from-red-400 to-red-600`}>
        Developer Documentation
      </h1>
      <ul class="flex flex-col gap-5">
        {
          Object.entries(developerDocsGrouped).map(([subcategory, docs]) => (
            <>
              <h2 class={`${wikiSubClass} from-red-400 to-red-600`}>
                {formatSubcategory(subcategory)}
              </h2>
              <ul class={wikiUlClass}>
                {docs.map((doc) => (
                  <li class={`${wikiLiClass} border-red-800`}>
                    <a class="hover:text-red-300" href={`/wiki/${doc.slug}/`}>
                      <h4 class="title text-base md:text-xs xl:text-xl">
                        {doc.data.title}
                      </h4>
                      <p class={wikiDescClass}>{doc.data.desc}</p>
                    </a>
                  </li>
                ))}
              </ul>
            </>
          ))
        }
      </ul>
    </section>
  </div>
</Layout>
