---
import { getCollection } from "astro:content";
import Layout from "../../layouts/layout.astro";

const wikiContent = await getCollection("wiki");

const playerDocs = wikiContent.filter((page) =>
  page.slug.startsWith("players/"),
);
const developerDocs = wikiContent.filter((page) =>
  page.slug.startsWith("developers/"),
);
let wikiTitleClass = "font-bold bg-gradient-to-r bg-clip-text text-transparent";
let wikiDescClass = "text-sm text-gray-400 pb-2";
let wikiLiClass = "relative bg-[#171717a3] rounded-lg border";
---

<Layout
  title="Home | TeaClient Wiki"
  className="h-full pb-16 backdrop-blur-sm"
  extraFooterClass="mt-[90%]"
>
  <div class="justify-center text-center">
    <h1 class="font-bold text-3xl mt-10">Welcome to the TeaClient Wiki</h1>
    <p>
      This is the official documentation for TeaClient for both Players &
      Developers
    </p>
  </div>
  <div class="flex flex-row w-full h-full mt-5">
    <!-- Player Documentation Section -->
    <section
      id="player-docs"
      class="float-left w-1/2 mx-5 justify-center text-center"
    >
      <h2 class={`${wikiTitleClass} from-green-400 to-green-600`}>
        Player Documentation
      </h2>
      <ul class="flex flex-col gap-5">
        {
          playerDocs.map((page) => {
            return (
              <li class={`${wikiLiClass} border-green-800`}>
                <a class="hover:text-green-300" href={`/wiki/${page.slug}/`}>
                  <h4 class="title text-xl">{page.data.title}</h4>
                  <p class={wikiDescClass}>{page.data.desc}</p>
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>

    <!-- Developer Documentation Section -->
    <section
      id="developer-docs"
      class="float-right w-1/2 justify-center text-center mx-5"
    >
      <h2 class={`${wikiTitleClass} from-red-400 to-red-600`}>
        Developer Documentation
      </h2>
      <ul class="flex flex-col gap-5">
        {
          developerDocs.map((page) => {
            return (
              <li class={`${wikiLiClass} border-red-800`}>
                <a class="hover:text-red-300" href={`/wiki/${page.slug}/`}>
                  <h4 class="title text-xl">{page.data.title}</h4>
                  <p class={wikiDescClass}>{page.data.desc}</p>
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
  </div>
</Layout>
