---
import type { CollectionEntry } from "astro:content";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import Head from "@/components/head.astro";
import { twMerge } from "tailwind-merge";
import { Icon } from "astro-icon/components";
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import "../styles/style.css";

interface Props {
  post: CollectionEntry<"news">;
  className?: string;
}

const { post, className } = Astro.props;
const authorData = (await getEntry(post.data.author)).data;
const Sociallogosizes = 24;
---

<Head
  title={`${post.data.title} | TeaClient News` ?? "TeaClent Website"}
  customDescription={post.data.desc ?? ""}
  ,
  bannerPath={post.data.banner ?? ""}
/>
<Header />
<div
  class={twMerge(
    `h-full text-[var(--text)] my-[5%] mx-[5%] bg-[var(--nav-color)] rounded-lg  ${className}`
  )}
>
  <div
    class="flex justify-between w-full bg-neutral-900 text-neutral-400 rounded-t-lg mr-5 left-0 space-x-2 p-4"
  >
    <a class="hover:text-white transition ease-in-out delay-75" href="/news"
      >&lt;- Back to News Articles</a
    >
    Published on: {post.data.pubDate.toLocaleDateString() ?? ""}
  </div>

  <div class="flex flex-col items-center justify-center pb-3">
    <div class="mx-5 my-5">
      <Image
        src={post.data.banner ?? ""}
        alt={`${post.data.title} Banner` ?? ""}
        height={post.data.bannerSize ?? 0}
        width={post.data.bannerSize ?? 0}
        loading="eager"
        class="border border-purple-600 rounded-xl w-[100%]"
      />
    </div>

    <h1 class="text-2xl">{post.data.title ?? ""}</h1>
    <div class="mx-5">
      <slot />
    </div>
  </div>
  <div class="flex justify-between bg-neutral-900 rounded-b-lg mt-3">
    <div class="flex flex-col ml-10 mb-5">
      <div class="flex text-white flex-row gap-x-2 mt-5">
        <img
          class="flex w-8 h-8 rounded-full"
          src={authorData.img}
          alt={`${authorData.name}`}
        />
        {authorData.name}
      </div>
      <div class="text-neutral-400 mt-1">{authorData.role} @ TeaClient</div>
    </div>
    {
      authorData.socials && (
        <div class="flex gap-x-2 mr-4 mt-10">
          {authorData.socials.github && (
            <a
              href={authorData.socials.github}
              class="text-gray-500 hover:text-gray-700"
            >
              <Icon
                name="mdi:github"
                width={Sociallogosizes}
                height={Sociallogosizes}
              />
            </a>
          )}
          {authorData.socials.discordServer && (
            <a
              href={authorData.socials.discordServer}
              class="text-blue-500 hover:text-blue-700"
            >
              <Icon
                name="ic:baseline-discord"
                width={Sociallogosizes}
                height={Sociallogosizes}
              />
            </a>
          )}
        </div>
      )
    }
  </div>
</div>
<Footer extraClass={post.data.extraFooterClass} />
