---
import Footer from "@component/footer.astro";
import Head from "@component/head.astro";
import Header from "@component/header.astro";

import { twMerge } from "tailwind-merge";
import "../styles/style.css";

export interface Props {
  title: string;
  developer: boolean;
  extraFooterClass?: string;
}
const { title, developer, extraFooterClass } = Astro.props;
const titleClass = developer
  ? "from-red-300 to-red-500"
  : "from-green-300 to-green-500";
---

<Head
  title={String(title) ?? "TeaClient Wiki Page"}
  customDescription="This is the official documentation for TeaClient for both Players & Developers"
  bannerPath="/assets/images/banner.png"
/>
<Header />
<div
  class={twMerge(
    `flex flex-col h-full text-white mt-[3%] mx-[2%] bg-[var(--nav-color)] rounded-lg`,
  )}
>
  <div class="flex flex-row pt-3">
    <a
      class={`pt-2 pl-8 pb-5 w-2/5 bg-gradient-to-r bg-clip-text hover:text-transparent ${titleClass}`}
      href="/wiki">Go Back</a
    >
    <h1
      class={`text-3xl font-bold text-center w-3/12 bg-gradient-to-r bg-clip-text text-transparent h-10 ${titleClass} `}
    >
      {title}
    </h1>
  </div>
  <div class="px-8">
    <slot />
  </div>
  <a
    href="/wiki"
    class={`text-center pb-3 bg-gradient-to-r bg-clip-text hover:text-transparent ${titleClass}`}
    >Go Back</a
  >
</div>
<Footer extraClass={extraFooterClass} />
